__pycache__/
.ipynb_checkpoints/
data/
graph.py
visualize.py
errors/
paper_images/
results_MLP/
sprites_data/
checkpoints/
BetaVAE.ipynb
lmtrainpreprocessing.ipynb
manifold.ipynb
platonic_data.ipynb
rotations.ipynb
shapes_viz.ipynb
images/
notebooks/
.DS_Store
.vscode/
